//Colors
$red: #c00130;
$black: #3c3335;
$grey: #f4f4f4;
$dark-grey: #d4d4d4;
$light-grey: #f1f1f1;

//Default settings
$font-family: 'Lato', sans-serif;

$container: 1260px;
$gutter: 20px;
$col: 60px;
